<div class="center" ng-controller="BasketCtrl">

  <ul class="topcoat-list">
    <h3>Showing {{searchResult.length}} of {{basket.length}}</h3>

    <ons-search-input
      ng-model="searchText"
      placeholder="Search">
    </ons-search-input>

    <ons-list-item>
      <ons-button type="quiet" ng-click="ons.navigator.pushPage('views/location.html', {title: 'SOR by location'})">
        <ons-icon icon="plus-circle" size="2x" style="margin-top: 5px"></ons-icon>
      </ons-button>
    </ons-list-item>

    <ons-list-item>
      <ons-row style="color: blue">
        <ons-col>Code</ons-col>
        <ons-col>Location</ons-col>
        <ons-col>Price</ons-col>
        <ons-col>Quantity</ons-col>
      </ons-row>
    </ons-list-item>


    <ons-list-item
        class="basket-item topcoat-list__item--tappable topcoat-list__item__line-height"
        ng-repeat="task in searchResult = (basket | filter:searchText)"
        ng-click="ons.navigator.pushPage('views/basket-edit.html', {title: 'Task', taskObj: task, basketObj: basket})">
      <ons-row>
        <ons-col>{{task.sor.SORCode}}</ons-col>
        <ons-col>{{task.sor.Location | notAvailable}}</ons-col>
        <ons-col>{{task.sor.Price | currency}}</ons-col>
        <ons-col>{{task.quantity}}</ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item>
      <ons-row>
        <h3>Total: {{total() | currency}}</h3>
      </ons-row>
    </ons-list-item>

  </ul>
  <br/>
  <ons-row>
    <ons-col>
    <ons-button class="delete-btn" ng-click="confirmClearBasket();">Clear basket</ons-button>
    </ons-col>

    <ons-col>
      <ons-button type="cta" ng-click="confirmCheckout();">{{checkoutTxt}}</ons-button>
    </ons-col>
  </ons-row>

</div>
