<div class="center" ng-controller="BasketCtrl">

  <ul class="topcoat-list">
    <h3>Showing {{searchResult.length}} of {{basket.length}}</h3>

    <ons-search-input
      ng-model="searchText"
      placeholder="Search">
    </ons-search-input>

    <ons-list-item>
      <ons-button type="quiet" ng-click="ons.navigator.pushPage('views/sor-list.html', {title: 'SOR List'})">
        <ons-icon icon="plus-circle" size="2x" style="margin-top: 5px"></ons-icon>
      </ons-button>
    </ons-list-item>

    <ons-list-item>
      <ons-row style="color: blue">
        <ons-col>Code</ons-col>
        <ons-col>Location</ons-col>
        <ons-col>Price</ons-col>
        <ons-col>Quantity</ons-col>
      </ons-row>
    </ons-list-item>


    <ons-list-item ng-repeat="task in searchResult = (basket | filter:searchText)">
      <ons-row>
        <ons-col>{{task.sor.SORCode}}</ons-col>
        <ons-col>{{task.sor.Location | notAvailable}}</ons-col>
        <ons-col>{{task.sor.Price | currency}}</ons-col>
        <ons-col>{{task.quantity}}</ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item>
      <ons-row>
        <h3>Total: {{total() | currency}}</h3>
      </ons-row>
    </ons-list-item>

  </ul>
  <br/>
  <ons-row>
    <ons-button ng-click="confirmClearBasket();">clear basket</ons-button>
  </ons-row>

</div>
