<ons-navigator
    title="Main"
    left-button-icon="fa fa-lg fa-bars"
    on-left-button-click="ons.splitView.toggle()">

  <ons-page class="center" ng-controller="MainCtrl">

    <h1>'Allo, 'Allo!</h1>
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    <ons-button id="splendid-btn" type="cta" ng-click="changeColor()">Splendid!</ons-button>
    <ons-button id="sor-btn" type="" ng-click="ons.navigator.pushPage('views/sor-list.html', {title: 'SOR List'})">Browse SOR</ons-button>

  </ons-page>
</ons-navigator>
