<ons-page>

    <ul class="topcoat-list">

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/main.html')">
            <i class="fa fa-home fa-lg" style="color: #666"></i>
            &nbsp; Main
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/about.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; About
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/user.html')">
            <ons-icon size="lg" icon="user"></ons-icon>
            &nbsp; User
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle();
                ons.splitView.setMainPage('views/basket.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Basket
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle();
                ons.splitView.setMainPage('views/sor-list.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; SOR List
        </ons-list-item>
    </ul>

</ons-page>
