<ons-page ng-app="srScopingApp" >

    <ul class="topcoat-list opcoat-list--noborder" >

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/main.html')">
            <i class="fa fa-home fa-lg" style="color: #666"></i>
            &nbsp; Main
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/about.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; About
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/user.html')">
            <ons-icon size="lg" icon="user"></ons-icon>
            &nbsp; User
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle();
                ons.splitView.setMainPage('views/basket.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Basket
        </ons-list-item>

        <div class="topcoat-list topcoat-list--noborder" ng-controller="MainCtrl">
        <h3 class="topcoat-list__header" >Projects</h3>
        <li class="topcoat-list__item topcoat-list__item__line-height" ng-repeat="project in projects" ng-click="ons.splitView.toggle();ons.splitView.setMainPage('views/basket.html')">
             <h9>Project Code: {{project.Code}}</h9>
        </li>
        </div>
    </ul>


</ons-page>
