<ons-navigator
    title="SR Scoping"
    left-button-icon="fa fa-lg fa-bars"
    on-left-button-click="ons.splitView.toggle()">

  <ons-page class="center" ng-controller="MainCtrl">

    <div id="Logo">
      <h1></h1>
      <img src="images/sr_logo.png" alt="SR Construction Pty Ltd" style="margin-top: 50px">
    </div>


    <div id="tour" style="margin-top: 50px">
      <p>
        <ons-icon icon="info-circle"></ons-icon>
        Swipe to see side menu on mobile
      </p>
    </div>

  </ons-page>
</ons-navigator>
