<ons-page ng-controller="MenuCtrl">
  <ons-scroller>
    <ul class="topcoat-list">

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/main.html')">
            <i class="fa fa-home fa-lg" style="color: #666"></i>
            &nbsp; Start
        </ons-list-item>

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.splitView.toggle(); ons.splitView.setMainPage('views/user.html')">
            <ons-icon size="lg" icon="user"></ons-icon>
            &nbsp; User
        </ons-list-item>
    </ul>

    <p>
      <i class="fa fa-briefcase"></i>
      &nbsp; {{projects.length}} Project{{projects.length>1?'s':''}}
    </p>

    <ul class="topcoat-list" ng-repeat="proj in projects">
      <ons-list-item
          class="topcoat-list__item--tappable topcoat-list__item__line-height"
          ng-click="ons.splitView.toggle();
              setActiveProject(proj);
              ons.splitView.setMainPage('views/project.html')">
          <i class="fa fa-file fa-lg" style="color: #666"></i>
          &nbsp; #{{proj.Code}}# {{proj.Address}}
      </ons-list-item>
    </ul>
  </ons-scroller>
</ons-page>
