<ons-page ng-controller="SorDetailCtrl">
  <ons-scroller>
    <div style="margin: 15px;">
      <h3 style="text-align:center">Task Details</h3>
      <ons-row>
        <ons-col>
          <p>SORCode:</p>
        </ons-col>
        <ons-col>
          <p>{{sor.SORCode}}</p>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <p>Short Description:</p>
        </ons-col>
        <ons-col>
          <p>{{sor.Name}}</p>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <p>Detailed Description:</p>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <ons-text-area
            ng-model="sor.LongDescription"
            readonly
            style="width: 100%; height: 150px;">
          </ons-text-area >
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <p>Comment:</p>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <ons-text-area
            ng-model="comment"
            placeholder="Enter additional remarks here"
            style="width: 100%; height: 80px;">
          </ons-text-area >
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <p>Location:</p>
        </ons-col>
        <ons-col>
          <p>{{sor.Location}}</p><br/>
        </ons-col>
        <ons-col>
          <label for="location">Choose:</label>
          <select name="location" multiple ng-model="location" ng-options="o.Name for o in locationOptions track by o.Code">
          </select>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <p>Price:</p>
        </ons-col>
        <ons-col>
          <p>{{sor.Price | currency}}</p>
        </ons-col>

        <ons-col>
          <p>UOM:</p>
        </ons-col>
        <ons-col>
          <p>{{sor.UomCode}}</p>
        </ons-col>
      </ons-row>

      <!-- Add Task form -->
      <form name="addForm">
        <ons-row>
          <ons-col>Quantity:</ons-col>

          <ons-col>
            <ons-text-input
              ng-model="quantity"
              type="number"
              placeholder="Type here"
              required
              min="1"
              style="display: block; width: 95%">
            </ons-text-input>
          </ons-col>

          <ons-col>
            <button id="add-task-btn" ng-class="addBtnClass" ng-click="addTask()" ng-disabled="addForm.$invalid || saved">
              {{addBtnText}}
            </button>
          </ons-col>
        </ons-row>
      </form>
    </div>
  </ons-scroller>
</ons-page>
